<!-- Navbar -->
<nav id="nav" class="navbar navbar-expand-lg bg-body-Primary ">
	<!-- Container wrapper -->
	<div id="nav-container" class="d-flex align-items-center ">
		<!-- Navbar brand -->
		<a  class="navbar-brand me-2 " href="{{ path('app_home') }}">
			<img id="logo" src="{{ asset('/images/Hopital.png') }}" height="40" alt=" Logo"/>
		</a>

		<!-- Toggle button -->
		<button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">Hopital Coeur de Soins</button>
		<!-- Collapsible wrapper -->
		<div
			class="collapse navbar-collapse" id="navbarButtonsExample">
			<!-- Left links -->
			<ul id="logo-text" class="navbar-nav me-auto text-secondary-emphasis mb-2 mb-lg-0 ">
				<li class="nav-item">
					<a id="nom_site" class=" nav-link" href="{{ path('app_home') }}">Hopital Coeur de Soins</a>
				</li>
			</ul>
			<!-- Left links -->
			<div id="dropdown" class="d-flex align-items-center  position-absolute top-1 end-0">
				{% if app.user %}
					<p id="nom_connect" class=" m-auto display-7 px-2 fw-bold text-secondary-emphasis">Bonjour
						{{ app.user.nom | capitalize }}
						{{ app.user.prenom | capitalize }}</p>
				{% endif %}
				<div class="nav-item px-3 me-3 me-lg-0 dropdown">
					<a data-mdb-dropdown-init class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-expanded="false">Mon compte</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% if app.user %}
							<li>
								<a class="dropdown-item" href="{{ path('app_my_profil') }}">Mes informations</a>
							</li>
							<li><hr class="dropdown-divider"/></li>
							<li>
								<a class="dropdown-item" href="{{ path('app_logout') }}">Se deconnecter</a>
							</li>
						{% else %}
							<li>
								<a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_register') }}">S'enregistrer</a>
							</li>
						{% endif %}

					</ul>
				</div>
			</div>
		</div>
		<!-- Collapsible wrapper -->
	</div>
	<!-- Container wrapper -->
</nav>
<!-- Navbar -->
