<section>
	<a class="btn m-auto btn-outline-dark btn-primary" href="{{ path('app_home') }}">Accueil</a>
	<hr class="divider"/></hr>

	{% if app.user %}
	<a class="btn btn-outline-dark btn-primary" href="{{ path('app_user_new') }}">Ajouter un patient</a>
	<a class="btn btn-outline-dark btn-primary" href="{{ path('app_dossier_medical_index') }}">Choisir un Dossier</a>
	<a class="btn btn-outline-dark btn-primary" href="{{ path('app_rdv_new') }}">Prendre un RDV</a>
	<a class="btn btn-outline-dark btn-primary" href="{{ path('app_rdv_index') }}">Voir des RDV</a> 
	<a class="btn btn-outline-dark btn-primary" href="{{ path('app_user_index') }}">Choisir un Medecin ou un Patient</a>
	<hr class="divider"/></hr>
	{# {% if app.user %}
	<a class="btn btn-outline-dark btn-primary" href="{{ path('app_logout') }}">Deconnection</a>
	{% else %}
	<a class="btn btn-outline-dark btn-primary" href="{{ path('app_login') }}">Connection</a>
	<a class="btn btn-outline-dark btn-primary" href="{{ path('app_register') }}">S'enregistrer</a>
	{% endif %} #}
	{# <a class="btn btn-primary" href="{{ path('app_consultation_index') }}">consultation</a>
	<a class="btn btn-primary" href="{{ path('app_specialite_index') }}">specialite</a>
	<a class="btn btn-primary" href="{{ path('app_observation_index') }}">observation</a>
	<a class="btn btn-primary" href="{{ path('app_prescription_index') }}">prescription</a>
	<a class="btn btn-primary" href="{{ path('app_image_index') }}">image</a> #}
	{% endif %}
</section>
