{% extends 'base.html.twig' %}

{% block title %}RDV{% endblock %}

{% block body %}
    <h1>RDV</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ rdv.id }}</td>
            </tr> #}
            <tr>
                <th>Nom de patient</th>
                <td>{{ rdv.rdvPatient.nom | capitalize }}</td>
            </tr>
            <tr>
                <th>Nom de medecin</th>
                <td>{{ rdv.rdvMedecin.nom | capitalize }}</td>
            </tr>
            <tr>
                <th>Date de rdv</th>
                <td>{{ rdv.dateRdv ? rdv.dateRdv|date('d/m/Y H:i') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-dark btn-primary mb-3" href="{{ path('app_rdv_index') }}">Retour à la liste</a>

    <a class="btn btn-outline-dark btn-primary mb-3" href="{{ path('app_rdv_edit', {'id': rdv.id}) }}">Modifier</a>

    {{ include('rdv/_delete_form.html.twig') }}
{% endblock %}
